#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: blue;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  

  
}
.th{
  color: tomato;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration-line: underline;
  
}
.btn{
  color:blue;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 60px;
  justify-content: space-between;
  
}
.btnn{
  color: red;
  font-weight: bolder;
  text-transform: uppercase;
  margin-right: 300px;
 margin-top:50px;
}
.button-delete{
  background-color: blue;
  color: black;
}
.table {
  width: 120%;
  border-collapse:separate;

}

.table th, .table td {
  padding: 9px; 
  text-align: left; 
  border: 2px solid blue; 
  

}

.input-group {
  display: inline-flex; 
  align-items: center; 
  margin-right:15px; 
}
.input-group label {
  margin-right: 10px; 
}




