#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bolder;
}
.th{
  color: tomato;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration-line: underline;
  
}
.btn{
  color: blue;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.btnn{
  color: red;
  font-weight: bolder;
  text-transform: uppercase;
 ;
}